<style>
    .mud-select {
        flex-grow: unset;
    }
</style>
@if (SelectedApiClient != null)
{
    <MudTabs @key="SelectedApiClient.Id" Rounded ApplyEffectsToContainer ActivePanelIndexChanged="OnPanelChanged" >
        @foreach (var httpCall in SelectedApiClient.HttpCalls)
        {
            <MudTabPanel Text="@httpCall.Name">
                <br/>
                <div class="f-row" style="gap: 50px; align-items: baseline;">
                    @if (AllClassNames.Count > 1)
                    {
                        <MudSelect Style="min-width: 16em;" T="string" Label="Select a class" @bind-Value="SelectedClassName">
                            @foreach (var className in AllClassNames)
                            {
                                <MudSelectItem Value="@className">@className</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    else if (AllClassNames.Count == 1)
                    {
                        <MudText Typo="Typo.body1">@AllClassNames.First()</MudText>
                    }
                    else
                    {
                        <MudText Typo="Typo.body1">No classes exist for this call</MudText>
                    }
                    @if (SelectedClassName?.Contains(Consts.Request) ?? false)
                    {
                        <MudIconButton Size="Size.Medium" OnClick="() => DownloadFile(httpCall.RequestSourceCode)" Color="Color.Tertiary" Icon="@Icons.Download" Variant="Variant.Filled"></MudIconButton>
                    }
                    @if (SelectedClassName?.Contains(Consts.Response) ?? false)
                    {
                        <MudIconButton Size="Size.Medium" OnClick="() => DownloadFile(httpCall.SuccessResponse?.SourceCode)" Color="Color.Tertiary" Icon="@Icons.Download" Variant="Variant.Filled"></MudIconButton>
                    }
                    @if (SelectedClassName?.Contains(Consts.Parameters) ?? false)
                    {
                        <MudIconButton Size="Size.Medium" OnClick="() => DownloadFile(httpCall.QueryParameterSourceCode)" Color="Color.Tertiary" Icon="@Icons.Download" Variant="Variant.Filled"></MudIconButton>
                    }
                    @if (SelectedClassName?.Contains(Consts.FormData) ?? false)
                    {
                        <MudIconButton Size="Size.Medium" OnClick="() => DownloadFile(httpCall.FormDataSourceCode)" Color="Color.Tertiary" Icon="@Icons.Download" Variant="Variant.Filled"></MudIconButton>
                    }
                    <div></div>
                </div>
                <br/>
                @if (SelectedClassName?.Contains(Consts.Request) ?? false)
                {
                    <pre><code class="language-csharp">@httpCall.RequestSourceCode</code></pre>
                }
                @if (SelectedClassName?.Contains(Consts.Response) ?? false)
                {
                    <pre><code class="language-csharp">@httpCall.SuccessResponse?.SourceCode</code></pre>
                }
                @if (SelectedClassName?.Contains(Consts.Parameters) ?? false)
                {
                    <pre><code class="language-csharp">@httpCall.QueryParameterSourceCode</code></pre>
                }
                @if (SelectedClassName?.Contains(Consts.FormData) ?? false)
                {
                    <pre><code class="language-csharp">@httpCall.FormDataSourceCode</code></pre>
                }
            </MudTabPanel>
        }
    </MudTabs>
}
@code {
    [Inject] private Interop Interop { get; set; } = null!;
    [Parameter] public ApiClient? SelectedApiClient { get; set; }
    private string? SelectedClassName { get; set; } = null!;
    private List<string> AllClassNames { get; set; } = new();

    protected override void OnParametersSet()
    {
        OnPanelChanged(0);
    }

    private async Task DownloadFile(string? sourceCode)
    {
        if (SelectedClassName == null || SelectedApiClient == null || string.IsNullOrWhiteSpace(sourceCode)) return;
        await Interop.DownloadFile(SelectedClassName, sourceCode);
    }

    private void OnPanelChanged(int panelInex)
    {
        if(SelectedApiClient == null) return;
        var httpCall = SelectedApiClient.HttpCalls[panelInex];
        var allClassNames = new List<string?>();
        if (httpCall.RequestSourceCode != null)
        {
            allClassNames.Add(httpCall.RequestClassName);
        }
        foreach (var response in httpCall.AllResponses)
        {
            if (response.SourceCode != null)
            {
                allClassNames.Add(response.ClassName);
            }
        }
        if (httpCall.QueryParameterSourceCode != null)
        {
            allClassNames.Add(httpCall.QueryParameterClassName);
        }
        if (httpCall.FormDataSourceCode != null)
        {
            allClassNames.Add(httpCall.FormDataClassName);
        }
        AllClassNames = allClassNames.Where(x => !string.IsNullOrWhiteSpace(x)).ToList()!;
        SelectedClassName = AllClassNames.FirstOrDefault();
    }

}
