<MudItem xs="@Xs" sm="@Sm" md="@Md" lg="@Lg" Style="display: flex; align-items: baseline; gap: 10px;">
    <div style="flex-grow: 1;">
        @ChildContent
    </div>
    <MudTooltip Delay="400" Duration="300">
        <ChildContent>
            <MudIcon Icon="@Icons.HelpOutline" Size="MudBlazor.Size.Small"></MudIcon>
        </ChildContent>
        <TooltipContent>
            <MudText Typo="Typo.body2" Style="min-width: 12em; max-width: 17em;">@ToolTip</MudText>
        </TooltipContent>
    </MudTooltip>
    <div style="flex-grow: 1"></div>
</MudItem>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter, EditorRequired] public string ToolTip { get; set; } = null!;

    [Parameter] public P2CsSize Size { get; set; } = P2CsSize.Large;

    private int Xs => Size switch{
        P2CsSize.Small => 4,
        P2CsSize.Medium => 8,
        P2CsSize.Large => 12,
        P2CsSize.ExtraLarge => 12,
        P2CsSize.ExtraExtraLarge => 12,
        _ => throw new ArgumentOutOfRangeException()
    };

    private int Sm => Size switch{
        P2CsSize.Small => 3,
        P2CsSize.Medium => 6,
        P2CsSize.Large => 9,
        P2CsSize.ExtraLarge => 12,
        P2CsSize.ExtraExtraLarge => 12,
        _ => throw new ArgumentOutOfRangeException()
    };

    private int Md => Size switch{
        P2CsSize.Small => 2,
        P2CsSize.Medium => 4,
        P2CsSize.Large => 8,
        P2CsSize.ExtraLarge => 12,
        P2CsSize.ExtraExtraLarge => 12,
        _ => throw new ArgumentOutOfRangeException()
    };

    private int Lg => Size switch{
        P2CsSize.Small => 1,
        P2CsSize.Medium => 2,
        P2CsSize.Large => 3,
        P2CsSize.ExtraLarge => 6,
        P2CsSize.ExtraExtraLarge => 12,
        _ => throw new ArgumentOutOfRangeException()
    };

}
